:root {
    --main-color: #11A9BA;
    --main-color-clear:#11A9BA70;
    --second-color: #BA2211;
    --second-color-clear:#BA221170;
    --third-color: #6E2F00;
    --third-color-clear:#6E2F0070;
    --dark-color: #05636E;
    --dark-color-clear: #05636E70;
    --link-color: #30EAFF;
    --light-color: white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Modify default fonts */
p {
    font-family: "Quicksand";
    font-size: 16pt;
    margin: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Exo";
}

/* Modify default bootstrap navbar */
.navbar {
    background-color: var(--dark-color-clear);
    border-radius: 20px;
}

/* Custom stuff */

.btn-light {
    background-color: var(--second-color);
    color: white;
}

.btn-light:hover {
    background-color: var(--third-color);
    color: white;
}

.nav-text {
    color: white;
    font-family: "Quicksand";
}

.title {
    padding: 12px;
    font-size: 62pt;
    font-family: "Exo";
    font-weight: 1000;
    text-transform: uppercase;
    color: var(--second-color);
}

.subtitle {
    padding: 8px;
    font-size: 16pt;
    font-family: "Exo";
    font-weight: 900;
    color: var(--third-color);
}

.title-segment {
    text-align: center;
    margin-bottom: 12px;
    padding: 24px;
    font-size: 54pt;
    font-family: "Exo";
    font-weight: 200;
    text-transform: uppercase;
    color: var(--second-color);
}

.content-segment {
    margin-top: 94px;
    margin-bottom: 94px;
}

.content-segment > img {
    display: block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.content-segment > p {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 36px;
    margin-bottom: 36px;
}

.divider {
    position: relative;
    left: -50%;
    height: 160px;
    width: 200%;
    margin-top: 68px;
    margin-bottom: 68px;
    background-color: var(--main-color)
}

.segment-footer {
    color: white;
    height: 80px;
    margin-top: 20px;
    padding: 8px;
}

.segment-dark-sm, .segment-light-sm {
    min-height: 250px;
    padding: 26px;
}

.segment-dark, .segment-light {
    min-height: 400px;
    padding: 18px;
}

.segment-dark, .segment-dark-sm, .segment-footer {
    background-color: var(--main-color);
}

.segment-light, .segment-light-sm {
    background-color: var(--white-color);
}

.showcase-box {
    font-style: normal;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    /* So that it defaults to black if it is an <a> */
    color: black;
}

.showcase-box > * {
    user-select: none;
    pointer-events: none;
}

.showcase-box:hover {
    background-color: var(--second-color);
    transition: background-color 0.2s;
    transform: scale(1.01);
}

.showcase-box:hover * {
    color: white !important;
    transition: color 0.2s;
    transform: scale(1);
}

.img-showcase {
    border-radius: 16px;
    width: 350px;
}
